* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
    background-image: url(https://source.unsplash.com/user/danielsessler/1920x1080);
    background-size: cover;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}

div.weather {
    display: flex;
    align-items: center;
}

div.weather span {
    margin: auto 10px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    font-size: 1.2rem;
}

time {
    font-size: 8rem;
}

