* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-image: url(https://source.unsplash.com/user/danielsessler/1920x1080);
    background-size: cover;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 300;
    align-items: center;
}

div.weather {
    display: flex;
    align-items: center;
}

div.weather span {
    margin: auto 10px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-weight: 400;
}

h2 {
    margin-top: 1rem;
    opacity: 0.8;
}


footer {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
}

time {
    font-size: 8rem;
    font-weight: lighter;

}

@media (max-width: 768px) {
    time {
        font-size: 4rem;
    }
}